[submodule "CodeMirror"]
	path = CodeMirror
	url = https://github.com/marijnh/CodeMirror.git
[submodule "java_syntax"]
	path = java_syntax
	url = https://github.com/daveagp/java_syntax.git
[submodule "hybridauth"]
	path = hybridauth
	url = https://github.com/hybridauth/hybridauth.git
